body{
    font-family: 'Poppins', sans-serif;
font-family: 'Prata', serif;
}
h1{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%
}
.half-width img{
    width: 60%
}
.link-button{
    text-decoration: none;
    background-color:tomato;
    padding: 10px 40px;
    color:white;
    font-weight: 700px;
    border-radius: 5px;
}
.flexible-container{
    display:flex;
    margin-left: 200px;
    margin-bottom: 30px;
    padding-bottom: 40px;
}
.experience-quality{
    background-color:paleturquoise;
    border-radius: 10px;
    width: 20%;
    margin: 20px;
    padding: 20px;
}
.experience-style{
    background-color:pink;
    border-radius: 10px;
    width: 20%;
    margin: 20px;
    padding: 20px;
}
.experience-unit{
    background-color:wheat;
    border-radius: 10px;
    width: 20%;
    margin: 20px;
    padding: 20px;
}
.half-image-size img{
    width: 150px;
}
.image-half img{
    width: 100%;
}
.top-banner{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 30%;
}
.width-image{
    padding-left: 15%;
    padding-right: 0%;
    padding-top: 40px;
    padding-bottom: 50px;
}
.top-argument{
    background-image: url(images/shapes/shape-4.png);
}
footer{
    text-align: center;
    padding-left: 400px;
}